{% extends 'detention/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<h2>Detentions Overview</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <th>Detention Assigned:</th>
            <th>Parent's Approval:</th>
            <th>Approval Date:</th>
            <th>View Details:</th>
            {% for d in det %}
            <tr>
                <td>{{d.detention_date}} at {{d.start_time}}</td>
                <td>{% if d.parent_approval %}Yes{% else %}No{% endif %}</td>
                <td>{% if d.parent_approval %}{{d.parent_approval_date}}{% else %}N/A{% endif %}</td>
                <td><a href="{{d.id}}/view">View</a></td>
            </tr>{% endfor %}
        </table>
    </div>
</div>

{% endblock %}